.container {
	background-color: var(--darkMain);
	color: var(--textWhite);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	gap: 1rem;
}

.navbar__logo {
	font-size: 1.25rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.color-picker label {
	background-color: var(--darkSecondary);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-size: 1rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
	cursor: pointer;
}

.color-picker label:hover {
	background-color: var(--darkThird);
}

.color-picker input {
	width: 0;
	height: 0;
	opacity: 0;
}

.content {
	display: flex;
	align-items: start;
	padding: 1rem 0;
	overflow-y: auto;
	max-width: 100vw;
	gap: 1rem;
}

.columns {
	width: fit-content;
	display: flex;
	align-items: start;
	gap: 1rem;
}

.create-column {
	max-width: 300px;
	min-width: 250px;
	background-color: var(--darkSecondary);
	width: 100%;
	padding: 0.75rem;
	border-radius: 0.5rem;
}

.create-column__input {
	display: block;
	color: var(--textWhite);
	background-color: transparent;
	outline: transparent;
	border: none;
	font-size: 1rem;
	margin-bottom: 1rem;
	opacity: 70%;
	width: 100%;
}

.create-column__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.create-column__add {
	background-color: var(--darkThird);
	padding: 0.5rem 0.75rem;
	color: var(--textWhite);
	font-size: 1rem;
	border-radius: 0.5rem;
}

.create-column__cancel {
	background-color: var(--darkThird);
	width: 1.5rem;
	height: 1.5rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: var(--textWhite);
	font-size: 1rem;
}

.column {
	background-color: var(--darkSecondary);
	max-width: 300px;
	min-width: 250px;
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
}

.column__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75rem;
	gap: 1rem;
}

.column__title {
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.column__options {
	color: var(--textWhite);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.column__tasks {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.column__create-button {
	background-color: var(--darkThird);
	padding: 0.75rem;
	color: var(--textWhite);
	border-radius: 0.5rem;
	margin-top: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
}

.task {
	background-color: var(--darkThird);
	padding: 0.75rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	overflow: hidden;
}

.task__options {
	color: var(--textWhite);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.task__title {
	color: var(--textWhite);
	font-size: 1rem;
	flex: 1 1 0%;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.create-task-form {
	margin-top: 1rem;
	background-color: var(--darkThird);
	width: 100%;
	padding: 0.75rem;
	border-radius: 0.5rem;
}

.create-task-form__input {
	display: block;
	color: var(--textWhite);
	background-color: transparent;
	outline: transparent;
	border: none;
	font-size: 1rem;
	margin-bottom: 1rem;
	opacity: 70%;
	width: 100%;
}

.create-task-form__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.create-task-form__add {
	background-color: var(--darkFourth);
	padding: 0.5rem 0.75rem;
	color: var(--textWhite);
	font-size: 1rem;
	border-radius: 0.5rem;
}

.create-task-form__cancel {
	background-color: var(--darkFourth);
	width: 1.5rem;
	height: 1.5rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: var(--textWhite);
	font-size: 1rem;
}
.create-column-button {
	background-color: var(--darkSecondary);
	padding: 0.75rem;
	color: var(--textWhite);
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	min-width: 250px;
	max-width: 300px;
}

.hidden {
	display: none;
}

@media (min-width: 768px) {
	.column,
	.create-column,
	.create-column-button {
		min-width: 300px;
	}
}
